body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-container {
  width: 800px;
  height: 600px;
  position: relative;
  border: 3px solid black;
}

#game-container img {
  width: 800px;
  height: 600px;
}

#score-board {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}

#timer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}

#game-over {
  display: none;
  z-index: 99;
  position: absolute;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;

  
  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } 
}

#game-pause {
  display: none;
  z-index: 99;
  position: absolute;
  top: 0%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  height: 100%;
  text-align: center;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#lobby{
  display: none;
  z-index: 99;
  position: absolute;
  top: 40%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  width: 100%;
  height: 25%;
  text-align: center;
}

.target {
  position: absolute;
  width: 50px;
  opacity: 0;
  transform: scale(0) rotateY(90deg);
  height: 50px;
  cursor: crosshair;
  background: url(tujuan.jpg);
  border-radius: 50%;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.target.active {
  opacity: 1;
  transform: scale(1);
}

.target.destroying {
  opacity: 0;
  transform: scale(1.5) rotate(360deg);
}

button {
  border-style: none;
  padding: 10px 45px 10px;
  box-shadow: 0 0 5px blue;
  transition: 0.5s;
  border-radius: 5px;
}

button:hover {
  box-shadow: 5px 5px 7px green;
  background-color: red;
}

#crosshair {
  position: fixed;
  width: 20px;
  height: 20px;
  border: 2px solid red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 100;
}


.lobby{
  color: white;
  padding: 100px;
  background-color: rgb(213, 48, 48);
}

.lobby button{
  border-style: none;
  box-shadow: 0 0 5px black;
}